.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 10px;
}

.name {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.album {
    padding: 10px;
    border-radius: 8px;
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.stats {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 0.85rem;
    font-weight: 400;
}

.type {
    font-weight: 600;
    padding-bottom: 5px;
}