.footer {
  display: flex;  
  flex-direction: row;  
  justify-content: flex-end;
  padding: 1rem;
  background-color: #222;
  gap: 20px;
  color: white;
}

.footer p{
    margin: 0;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
