.componentLayout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 16px;
  padding: 16px;
  background-color: #545454;
}

.leftSidebar {
  border: 2px solid #000000;
  background-color: rgb(221, 208, 191);
}

.centerContent {
  border: 2px solid #000000;
  background-color: rgb(221, 208, 191);
}

.rightSidebar {
  border: 2px solid #000000;
  background-color: rgb(221, 208, 191);
}