.container {
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    width: 100%;
    max-width: 650px;
    color: #050505;
    line-height: 1.6;
    font-weight: 500;
    background-color: rgba(205, 180, 219, 0.6);
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.50);
    box-sizing: border-box;
    margin: 10px;
}