.container{
    display: flex;
    flex-direction: column;
    background-color: #545454;
    align-items: center;
    color: beige;
}

.field{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 16px;
}

.field label{
    margin-bottom: 6px;
    font-weight: 500;
}

.field input{
    padding: 8px;
    border-radius: 6px;
}

.btn{
    width: 200px;
    background-color: beige;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}