.info{
    display: flex;
    flex-direction: column;
}

.user{
    padding-bottom: 5px;
    font-weight: 700;
}

.year{
    font-weight: 700;
    padding-bottom: 5px;
}

.album {
    font-weight: 700;
    padding-bottom: 5px;
}