.memberLayout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 16px;
  padding: 16px;
  background-color: #545454;
}

.leftSidebar {
  background-color: rgb(123, 127, 136);
  border-radius: 10px;
  border: 2px solid rgb(69, 63, 63);
  padding: 8px;
}

.centerContent {
  background-color: rgb(123, 127, 136);
  border-radius: 10px;
  border: 2px solid rgb(69, 63, 63);
  padding: 8px;
}

.rightSidebar {
  background-color: rgb(123, 127, 136);
  border-radius: 10px;
  border: 2px solid rgb(69, 63, 63);
  padding: 8px;
}
