.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: flex-start;;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #292626;
    border-color: 1px #000;
    align-items: center;
    color: beige;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.introText{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.introText h1 {
  max-width: 620px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  margin-top: 40px;
}

.textTitles h1 {
  max-width: 620px;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  margin-top: 40px;
}

.introText p {
  max-width: 740px;
  font-size: 25px;
  line-height: 32px;
  text-wrap: balance;
  color: #c1b9cf;
}

.intro h1 {
  max-width: 620px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  margin-top: 40px;
}

.intro p {
  max-width: 340px;
  font-size: 25px;
  line-height: 32px;
  text-wrap: balance;
  color: #c1b9cf;
}

.box ul {
  list-style-position: inside; 
  padding-left: 20px;           
  margin-left: 0;              
}

.box ul ul {
  padding-left: 20px;           
  margin-left: 0;
  list-style-type: disc;        
}

.box li {
  margin-bottom: 0.5rem;
  padding-left: 0;
  font-size: 20px;
  line-height: 25px;
  color: #c1b9cf;
}




@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 15px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #545454;
    --foreground: #000;

    --text-primary: #231e2e;
    --text-secondary: #171717;
  }
}
